.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px;
  width: 300px;
  border: 2px solid #000000;
  height: 500px;
}

.item > img {
  margin: 10px;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.item.stock {
  background-color: #00ff7f;
}

p {
  margin: 10px;
}

span {
  font-weight: 700;
}

a {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
}

button {
  margin: 10px 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #000000;
  color: #ffffff;
}

button:disabled {
  opacity: 0.5;
}
