<h2>Register</h2>

<form [formGroup]="user" (ngSubmit)="registerUser()" #loginForm="ngForm">
  <p class="user-msg" *ngIf="msg.length > 0">{{ msg }}</p>
  <div class="login-username">
    <input
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
    />
  </div>
  <div class="login-password">
    <input
      type="password"
      name="password"
      placeholder="Password"
      formControlName="password"
    />
  </div>
  <button type="submit">Register</button>
</form>
